{
  "root": true,
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["compat", "prettier"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "jsx-a11y/anchor-is-valid": 0,
    "react/forbid-prop-types": 0,
    "react/require-default-props": 0,
    "compat/compat": 2,
    "prettier/prettier": [
      "error",
      { "trailingComma": "es5", "singleQuote": true }
    ],
    "react/jsx-props-no-spreading": ["error", { "html": "ignore" }]
  },
  "settings": {
    "polyfills": ["Object.entries"]
  }
}
