@import '../../utils/variables';
@import '../../utils/breakpoints';

.container {
  margin: auto;
  max-width: $max-width;
  padding: 3rem 1rem;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  @include mappy-bp(medium) {
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 2rem;
  }
}

.headerPicture {
  flex-basis: 260px;
  flex-direction: column;
  flex-shrink: 0;
  max-width: 260px;
  width: 100%;

  @include mappy-bp(medium) {
    margin: 0 2rem 0 0;
  }
}

.headerTitles {
  flex-grow: 1;
  max-width: 100%;
  text-align: center;

  @include mappy-bp(medium) {
    text-align: left;
  }

  h3 {
    font-size: $type-scale-7;
    line-height: $line-height-5;
    margin: 1.5rem auto;
    max-width: 24em;

    @include mappy-bp(medium) {
      font-size: $type-scale-8;
      margin: 1.5rem 0;
    }
  }

  h4 {
    font-size: $type-scale-4;
    line-height: $line-height-5;
    margin: 1.5rem auto;
    max-width: 24em;

    @include mappy-bp(medium) {
      font-size: $type-scale-5;
      margin: 1.5rem 0;
    }
  }
}

.title {
  color: $ict-blue-text;
}

.twitter {
  align-items: center;
  color: $ict-blue-text;
  display: flex;
  justify-content: center;
  margin: 1.5rem auto;
  padding: 0;
  text-decoration: none;

  @include mappy-bp(medium) {
    justify-content: flex-start;
    margin: 1.5rem 0;
  }
}

.sessionsTitle {
  font-size: $type-scale-5;
  margin: 2rem 0;

  @include mappy-bp(medium) {
    font-size: $type-scale-6;
  }
}
