@import '../../utils/breakpoints';
@import '../../utils/variables';

$label-width: 3em;
$label-height: 3em;

/* stylelint-disable no-descending-specificity */
.label {
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: $label-height;
  position: relative;
  transition: all 300ms ease-in-out;
  user-select: none;
  width: $label-width;

  .withBackground & {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08);
  }

  &:hover,
  .checkbox:focus + & {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8);

    .withBackground & {
      background-color: rgba(255, 255, 255, 1);
      box-shadow: 0 0 2px 3px darken(#ccc, 15%);

      .purpleItem & {
        box-shadow: 0 0 2px 3px lighten($ict-purple, 20%);
      }

      .yellowItem & {
        box-shadow: 0 0 2px 3px lighten($ict-yellow, 19%);
      }

      .blueItem & {
        box-shadow: 0 0 2px 3px lighten($ict-blue, 8%);
      }
    }
  }
}
/* stylelint-enable no-descending-specificity */

.checkbox {
  left: -9999px;
  opacity: 0;
  position: absolute;
}

.unchecked {
  $base-width: 1.2em;
  $base-height: 0.2em;

  height: $label-height;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  transform: scale(1) rotate(0);
  transform-origin: center;
  transition: all 200ms ease-in-out;
  width: $label-width;

  &::before {
    height: $base-height;
    left: ($label-width - $base-width) / 2;
    top: ($label-height - $base-height) / 2;
    width: $base-width;
  }

  &::after {
    height: $base-width;
    left: ($label-height - $base-height) / 2;
    top: ($label-width - $base-width) / 2;
    width: $base-height;
  }

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;

    .greyItem & {
      background-color: darken(#ccc, 8%);
    }

    .purpleItem & {
      background-color: lighten($ict-purple, 20%);
    }

    .yellowItem & {
      background-color: lighten($ict-yellow, 15%);
    }

    .blueItem & {
      background-color: lighten($ict-blue, 10%);
    }
  }

  .checkbox:checked + .label & {
    opacity: 0;
    transform: scale(0) rotate(180);
  }
}

.checked {
  height: $label-height;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0) rotate(-160deg);
  transform-origin: center;
  transition: all 300ms ease-in-out;
  width: $label-width;

  &::before {
    border: 0.3em solid darken(#ccc, 25%);
    border-left: none;
    border-top: none;
    content: '';
    display: block;
    height: 1.5em;
    left: 1em;
    position: absolute;
    top: 0.65em;
    width: 0.9em;

    .purpleItem & {
      border-color: $ict-purple;
    }

    .yellowItem & {
      border-color: $ict-yellow;
    }

    .blueItem & {
      border-color: $ict-blue;
    }
  }

  .checkbox:checked + .label & {
    opacity: 1;
    transform: scale(1) rotate(40deg);
  }
}
