@import '../../utils/breakpoints';
@import '../../utils/variables';

.block {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;

  @include mappy-bp(medium) {
    align-items: flex-start;
    flex-direction: row;
    margin: 3em 0;
  }
}

.timeslot {
  color: $ict-grey-text;
  flex-shrink: 0;
  font-size: 1.5em;
  font-weight: 300;
  padding: 1em 1em 0.5em;

  @include mappy-bp(medium) {
    flex-basis: 9em;
    min-width: 9em;
    text-align: center;
  }
}

.events {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
