@import '../../utils/variables';
@import '../../utils/breakpoints';

.item {
  display: flex;
  align-items: center;
  justify-content: center;

  @include mappy-bp(medium) {
    padding: 0.8em 0.7em 0.6em;
    letter-spacing: -0.02em;
  }
}

.link {
  @include mappy-bp(max medium) {
    display: block;
    color: $ict-grey-text;
    width: 100%;
    line-height: 3em;
    padding-left: 2em;
    text-decoration: none;
  }

  @include mappy-bp(medium) {
    flex-grow: 1;
    color: lighten($ict-grey-text, 5%);
    text-decoration: none;
    display: inline-block;
    position: relative;

    &::after {
      content: '';
      display: block;
      margin: auto;
      height: 2px;
      width: 0;
      background: transparent;
      transition: width 0.3s ease, background-color 0.3s ease;
    }

    &:hover,
    &:focus,
    &:active {
      color: $ict-grey-text;
      text-decoration: none;

      &::after {
        width: 100%;
        background-color: $ict-blue;
      }
    }
  }
}

.mobileOnly {
  @include mappy-bp(medium) {
    display: none;
  }
}

.active {
  @include mappy-bp(max medium) {
    font-weight: 500;
    color: darken($ict-grey-text, 15%);
  }

  @include mappy-bp(medium) {
    color: darken($ict-grey-text, 5%);

    &::after {
      width: 100%;
      background-color: $ict-blue;
    }
  }
}

.primary {
  @include mappy-bp(medium) {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 500;
    border-radius: 1.5em;
    padding: 0.4em 1.4em;
    background-color: $ict-blue;
    color: #fff;

    &::after {
      height: 0;
    }

    &:hover,
    &:focus,
    &:active {
      color: #fff;
      background-color: lighten($ict-blue, 5%);
    }
  }
}
