@import '../../utils/breakpoints';
@import '../../utils/variables';

.container {
  padding: $header-height 1em 2em;
}

.header {
  margin: auto;
  max-width: $max-width;

  @include mappy-bp(max medium) {
    display: none;
  }

  h1 {
    color: $ict-grey-text;
  }
}

.clearfix {
  clear: both;
}
